<h1>Blackjack!</h1>

<div class='well'>
  <h4>Dealer's cards:</h4>
  <% if !@dealer_turn %>
    <img src="images/cards/cover.jpg" class='card_image'>
    <%= card_image(session[:dealer_hand][1]) %>
  <% else %>
    <% session[:dealer_hand].each do |card| %>
      <%= card_image(card) %>
    <% end %>
  <% end %>
</div>

<br/>

<div class='well'>
<h4>Player's cards:</h4>
    <% session[:player_hand].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<p><%= session[:player_name] %> has <%= calculate_value(session[:player_hand]) %> points.</p>


<% if @show_hit_or_stay_buttons %>
  <form  action="/hit" method="post" id="hit">
    <button type='button' class='btn btn-success'>Hit</button>
  </form>
  <form  action="/stay" method="post" id="stay">
    <button type='button' class='btn btn-warning'>Stay</button>
  </form>
<% end %>